# Dependencies
node_modules/
**/node_modules/

# Production builds
build/
**/build/
dist/
**/dist/

# Local databases & env files
db.json
**/db.json
.env
**/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.vscode/
**/.vscode/
.idea/
**/.idea/
.DS_Store
Thumbs.db
